
.container{
    height: 450px;
    width: 350px;
    background-color: rgb(241, 179, 179);
    display: flex;
    flex-direction: column;
    margin-left: 37%;
    margin-top: 5%;
    font-size: large;
    font-weight: bolder;
}